/* 主题色 */
/* 内容区宽度 */
/* 偏移 */
/* 大标题 */
/* 移动端大标题 */
.index-page .content-list {
  position: relative;
  z-index: 2;
  margin-top: -150px;
  padding-bottom: 40px;
}
.index-page .content-list .module-inner {
  margin-bottom: 80px;
}
.index-page .content-list .btn {
  width: 174px;
}
.index-page .content-list h2 {
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #000200;
}
.index-page .content-list .line {
  height: 4px;
  background: #226ef3;
  display: block;
  width: 30px;
  margin: 23px 0;
}
.index-page .content-list .desc {
  margin-bottom: 20px;
}
.index-page .content-list .desc p {
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #9b9b9b;
  line-height: 25px;
}
.index-page .content-list .action-item {
  background: #ffffff;
  box-shadow: 0px 15px 45px 0px rgba(34, 110, 243, 0.15);
  border-radius: 10px;
  padding: 0 55px;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.3s;
}
.index-page .content-list .action-item .content {
  padding: 55px 0;
}
.index-page .content-list .action-item:hover {
  transform: scale(1.01) translateY(-2px);
  box-shadow: 0px 15px 55px 0px rgba(34, 110, 243, 0.15);
}
.index-page .content-list .action-item .img-box {
  font-size: 0;
}
.index-page .content-list .action-item.disapp-item img {
  width: 517px;
  height: 368px;
  margin-right: 52px;
}
.index-page .content-list .action-item.sign-item img {
  height: 400px;
  position: relative;
  right: -55px;
}
.index-page .content-list .action-item.pack-item img {
  height: 400px;
  position: relative;
  right: -55px;
}
.index-page .content-list .action-item.super-sign-item img {
  height: 400px;
  position: relative;
  right: -55px;
}
.index-page .app-wall {
  background: #EAF0F9;
  padding: 60px 0;
  padding-bottom: 130px;
}
.index-page .app-wall h3 {
  margin-bottom: 66px;
}
.index-page .app-wall h3 span {
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
}
.index-page .app-wall h3 span:last-child {
  color: rgba(102, 102, 102, 0.5);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  padding-left: 10px;
}
.index-page .app-wall .wall {
  display: flex;
  flex-wrap: wrap;
}
.index-page .app-wall .wall li {
  text-align: center;
  margin: 35px 26px;
  margin-bottom: 35px;
}
.index-page .app-wall .wall li:hover div {
  /*background: #226ef3;*/
  transform: scale(1.01) translateY(-2px);
  color: #fff;
}
.index-page .app-wall .wall li p {
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(102, 102, 102, 0.5);
}
.index-page .app-wall .wall li div {
  width: 140px;
  height: 140px;
  background: #fff;
  box-sizing: border-box;
  /*padding: 10px;*/
  box-shadow: 2px 2px 10px 0px rgba(34, 110, 243, 0.14);
  transition: all 0.3s;
  margin-bottom: 18px;
  border-radius: 36px;
}
.index-page .app-wall .wall li div img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 36px;
}
@media screen and (max-width: 900px) {
  .index-page .content-list {
    position: relative;
    z-index: 2;
    margin-top: -70px;
    padding-bottom: 20px;
  }
  .index-page .content-list .module-inner {
    margin-bottom: 40px;
  }
  .index-page .content-list .btn {
    width: 82px;
  }
  .index-page .content-list h2 {
    font-size: 24px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: #000200;
  }
  .index-page .content-list .img-box img {
    display: none;
  }
  .index-page .content-list .line {
    height: 4px;
    background: #226ef3;
    display: block;
    width: 30px;
    margin: 12px 0;
  }
  .index-page .content-list .desc {
    margin-bottom: 10px;
  }
  .index-page .content-list .desc p {
    font-size: 12px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: #9b9b9b;
    line-height: 25px;
  }
  .index-page .content-list .action-item {
    background: #ffffff;
    box-shadow: 0px 15px 45px 0px rgba(34, 110, 243, 0.15);
    border-radius: 10px;
    padding: 0 55px;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .index-page .content-list .action-item .content {
    padding: 25px 0;
  }
  .index-page .app-wall {
    background: #EAF0F9;
    padding: 30px 0;
    padding-bottom: 60px;
  }
  .index-page .app-wall h3 {
    margin-bottom: 33px;
  }
  .index-page .app-wall h3 span {
    font-size: 17px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
  }
  .index-page .app-wall h3 span:last-child {
    color: rgba(102, 102, 102, 0.5);
    font-size: 17px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    padding-left: 10px;
  }
  .index-page .app-wall .wall {
    display: flex;
    flex-wrap: wrap;
  }
  .index-page .app-wall .wall li {
    text-align: center;
    margin: 7px;
    margin-bottom: 17px;
  }
  .index-page .app-wall .wall li:hover div {
    background: #226ef3;
    transform: scale(1.01) translateY(-2px);
    color: #fff;
  }
  .index-page .app-wall .wall li p {
    font-size: 12px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(102, 102, 102, 0.5);
  }
  .index-page .app-wall .wall li div {
    width: 70px;
    height: 70px;
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 2px 2px 10px 0px rgba(34, 110, 243, 0.14);
    transition: all 0.3s;
    margin-bottom: 18px;
  }
  .index-page .app-wall .wall li div img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .index-page .cmpy-info .gift-inner {
    background: url(../imgs/gift-bg.png) -16px 0 repeat;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -50px;
  }
  .index-page .cmpy-info .gift-inner p {
    font-size: 17px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .index-page .cmpy-info .gift-inner > div {
    display: flex;
    justify-content: center;
  }
  .index-page .cmpy-info .gift-inner .btn {
    width: 80px;
    margin: 0 10px;
    font-size: 12px;
  }
  .index-page .cmpy-info .cmpy-inner {
    display: block;
    padding-bottom: 50px;
    border-top: 1px solid #E6E9F6;
    padding-top: 40px;
    margin-top: 40px;
  }
  .index-page .cmpy-info .cmpy-inner .logo {
    margin-bottom: 20px;
    display: none;
  }
  .index-page .cmpy-info .cmpy-inner .logo img {
    width: 74px;
    height: 25px;
  }
  .index-page .cmpy-info .cmpy-inner .info {
    display: block;
  }
  .index-page .cmpy-info .cmpy-inner .info > div {
    margin-left: 0;
    margin-bottom: 25px;
  }
  .index-page .cmpy-info .cmpy-inner .info > div ul {
    display: flex;
  }
  .index-page .cmpy-info .cmpy-inner .info .about ul {
    display: block;
  }
  .index-page .cmpy-info .cmpy-inner .info p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .index-page .cmpy-info .cmpy-inner .info li {
    line-height: 30px;
    margin-right: 10px;
  }
  .index-page .cmpy-info .cmpy-inner .info li a {
    font-size: 12px;
  }
  .index-page .footer {
    height: 34px;
  }
  .index-page .footer .cert-wrap {
    display: none;
  }
  .index-page .footer .module-inner {
    height: 34px;
    display: flex;
  }
  .index-page .footer .module-inner p {
    font-size: 12px;
  }
}
