.cert-check-title {
font-size:36px;
font-weight:500;
}

.wrapper {
    background-color: #EDF1F4;
}
.inner-content {
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    padding-top: 80px;
    padding-bottom: 120px;
    margin: 0px auto;
    margin-bottom: 60px;
}
.cursor-pointer {
    cursor: pointer;
}
.flex-start-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-between-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.flex-col-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.flex-center-o {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.v-hide {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    border: none;
    margin: 0 !important;
    padding: 0 !important;
}
.label-lg {
    font-size: 16px;
    font-weight: 500;
    color: #4A4A4A;
}
.label-md {
    font-size: 14px;
    font-weight: 400;
    color: #4A4A4A;
}
.label-sm {
    font-size: 12px;
    font-weight: 400;
    color: #666;
}
.sky-form {
    border: none;
}
.sky-form .checkbox input:checked + i {
    border-color: #1abc9c;
}
.sky-form .checkbox input:checked + i:after {
    color: #1abc9c;
}
.upload-img-init ,
form#checkStatus input#password ,
form#checkStatus input#password + hr {
    margin-left: auto;
    margin-right: auto;
}
.upload-img-init {
    height: 245px;
    border: 1px dashed #DDDDDD;
    border-radius: 6px;
    color: #DDDDDD;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    padding: 10px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    margin-bottom: 15px;
}
.upload-img-init .file-name{
    word-break: break-word;
}
.upload-img-init .file-name > .fa{
    margin-left: 10px;
    margin-right: 10px;
    color: #bbb;
    font-size: 16px;
    position: relative;
    margin-top: 5px;
}
.upload-img-init .file-name > .fa:hover{
    color:rgba(26,188,156,1);
}
.upload-label {
    color: #999;
    font-size: 12px;
}
.upload-img-init:hover{
    border: 1px dashed #1abc9c;
    color: #666;
}
.upload-img-init .upload-label {
    font-size: 24px;
}
.upload-img-init:hover .upload-label {
    color: #1ABC9C;
}
.upload-img-init-hover{
    border: 1px dashed #1abc9c;
    color: #666;
}
.upload-img-init-hover .upload-label {
    color: #666;
}
.block-center {
    margin: 0 auto;
}
.group {
    margin: 0 40px 40px 0px;
}
.group-header {
    margin-bottom:20px;
}
.group-content {
    padding: 30px 0 30px 30px;
    border: 1px solid #EAEAEA;
}
.group-sub {
    margin-right: 30px;
}
.group-sub:last-child {
}
.group-sub-img {
    padding-bottom: 45px;
    border-bottom: 1px solid #e5e5e5;
}
.group-sub-type {
    height: 110px;
    color: #8D9396;
    font-size:12px;
}
.img-x {
    position: relative;
    width: 80px;
    height: 80px;
    text-align:center;
    float: left;
    border: 1px solid #EAEAEC;
    margin-right:16px;
}
.img-x:last-child {
    margin-right:0px;
}
.img-x span {
    position: absolute;
    bottom: -40px;
    left: -10px;
    width: 100px;
}
.img-x input {
    position: absolute;
    top: -20px;
    left: 18px;
}
.img-x img {
    max-width: 60px;
    max-height: 60px;
}
.hiden {
    display: none;
}
.p-hide {
    position: fixed;
    left: -99999px;
}

#certCheckTab{
    border:none;
}

#certCheckTab > li{
    width: 50%;
}
#certCheckTab > li > a {
    border:none;
    border-radius:0;
    margin: 0;
    color: #333;
}
#certCheckTab > li>a {
    background:rgba(245,247,248,1);
    border:1px solid rgba(234,234,234,1);
}
#certCheckTab > li.active {
}
#certCheckTab > li.active > a {
    border:none;
    background:#fff;
    border-top: 2px solid rgba(26,188,156,1);
    color: #4A4A4A;
}
#certCheckTab > li:first-child > a {
    border-left:transparent;
}
#certCheckTab > li:last-child > a {
    border-right:transparent;
}
form#checkStatus {
    border:1px solid rgba(234,234,234,1);
    border-top: 1px solid transparent;
}
#certCheckTabContent {
    padding-top: 50px;
    padding-bottom: 0px;
}
#certCheckTabContent .url-title{
    font-weight:500;
    font-size:18px;
    color:rgba(51,51,51,1);
}
#certCheckTabContent .text-left{
    text-align: left;
}
.btn-u.btn-check {
    background: #29BB9C;
    border-radius:3px;
}
.btn-u.btn-check:hover {
    background: #28caad;
}
form#checkStatus em.invalid[for='url'] {
    float: right;
}
form#checkStatus input#password {
    margin: 0 auto;
    margin-top: 15px;
    width: 50%;
    display: inline;
}
#certCheckTabContent>#shortUrl .input-group-addon {
    background:rgba(245,245,245,1);
}
#certCheckTabContent>#certResult>#certDetail{
    position: relative;
}
#certCheckTabContent>#certResult>#certDetail>#fileCertResult{
    width: 90%;
    margin:auto;
}
#certCheckTabContent>#certResult>#certDetail .cert-result{
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
#certCheckTabContent>#certResult>#certDetail .provision-detail > .provision-item-left{
    width: 46.5%;
    float: left;
    text-align: right;
}
#certCheckTabContent>#certResult>#certDetail .provision-detail > .provision-item-right{
    width: 53%;
    float: right;
}
#certCheckTabContent #urlCertResult #appIcon{
    max-width: 100px;
    position: absolute;
    left: 20%;
    top: 5%;
}

#certCheckTabContent>#certResult>#certDetail p.check-item{
    display:flex;
    align-items: center;
}
#certCheckTabContent>#certResult>#certDetail #fileCertResult p.check-item span.item-title{
    flex: 2;
}
#certCheckTabContent>#certResult>#certDetail #fileCertResult p.check-item span.item-result{
    flex: 2;
}
#certCheckTabContent>#certResult>#certDetail #urlCertResult p.check-item span.item-title{
    flex: 1;
}
#certCheckTabContent>#certResult>#certDetail #urlCertResult p.check-item span.item-result{
    flex: 1;
}
#certCheckTabContent div.upload-tips{
    font-size:13px;
    padding-top:10px;
}
#certCheckTabContent div.upload-tips p {
    color:#999;
    margin: 0;
}
#certCheckTabContent #certFile .upload-img-init:hover div.upload-tips p{
    color:#666;
}
#certCheckTabContent #certFile .file-upload-container{
    padding: 0 45px;
}
#certCheckTabContent #certFile .file-upload-container .file-icon{
    width: 40px;
    margin-bottom: 15px;
}
#certCheckTabContent #certFile .file-upload-container .optional-icon{
    position: absolute;
    right: 0;
    top: 0;
}
.drag {
    border: 1px dashed #1abc9c;
    cursor: move;
    cursor: copy;
}
#fileBanner {
    height: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#certFlag {
    width: 80px;
}
@media(max-width: 767px) {
    .upload-img-init,
    form#checkStatus input#password {
        width: 100%;
        margin-bottom: 15px;
    }
    #certCheckTabContent>#shortUrl .input-group{
        width: 90%;
        margin: 0 auto;
    }
    #certCheckTabContent #urlCertResult #appIcon {
        position: relative;
        display: block;
        float: none !important;
        margin: auto;
        left: auto;
        margin-bottom: 10px;
    }
    #certCheckTabContent>#certResult>#certDetail .cert-result {
        width: 65%;
    }
    #shortUrl .input-group-addon {
        display: inline;
    }
    #certCheckTabContent>#certResult>#certDetail p.check-item {
        flex-direction: column;
    }
    #certCheckTabContent>#certResult>#certDetail>#fileCertResult {
        width: 89%;
        margin: auto;
    }
    #certCheckTabContent>#certResult>#certDetail>#fileCertResult .cert-icon{
    }
    #certCheckTabContent>#certResult>#certDetail .cert-result {
        padding-left: 15px;
        margin-bottom: 10px !important;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #certCheckTabContent>#certResult>#certDetail .cert-result .text-left{
        align-self: flex-start;
    }
    #certCheckTabContent>#certResult>#certDetail p.check-item span {
        text-align:left;
        width: 100%;
    }
    #certCheckTabContent>#certResult>#certDetail>#urlCertResult p.check-item{
        flex-direction: row;
    }
    #certCheckTabContent>#certResult>#certDetail>#urlCertResult p.check-item span.item-title{
        text-align:right;
    }
    #certCheckTabContent>#certResult>#certDetail>#urlCertResult p.check-item span{
        width: auto;
    }
    #certCheckTabContent>#certResult>#certDetail>#urlCertResult #certExpireDate{
        display: flex;
        flex-direction: column;
        padding-right: 10px;
    }
}
.text-success {
    color: #19C35D;
}
.text-danger {
    color: #FD5A5A;
}
