.xubox_layer .xubox_form{
	width:240px;
	height:30px;
	line-height:30px;
	padding:0 5px;
	border:1px solid #ccc;
	background:url(confirm-ext.png) #fff repeat-x;
	color:#333
}
.xubox_layer .xubox_formArea{
	width:300px;
	height:100px;
	line-height:20px
}