@charset "utf-8";
/*safari打开提示*/
.click_opacity{ width:100%; height:100%; background:#000; opacity:0.6; position:fixed; z-index:10000; top:0px;}
.to_btn{ position:fixed; top:10px; right:10px; text-align:right; z-index:10001; font-family:"微软雅黑";}
.to_btn span{ display:block;}
.to_btn img{ width:20%; height:auto; display:inline-block;}
.to_btn .span1{ font-size:1.6rem; color:#fff; margin-top:5px;}
.to_btn{ color:#fff;}
.to_btn .span2{ display:inline-block; line-height:36px; width:80%; margin-bottom:12px; text-align:left; font-size:16px;}
.to_btn .span2 em{ display:inline-block; width:16px; height:16px; background:#009dd9; color:#fff; font-size:12px; text-align:center; line-height:16px; border:1px solid #fff; border-radius:50%; margin-right:3px;}
.to_btn .span2 img{ display:inline-block; width:30px; height:30px; margin:0px 5px;}
.to_btn span{ display:block; float:right;}
.to_btn .android_open img{ display:inline-block; width:150px; height:34px;}
/*ios9提示样式*/
.ios9_tips{ width:100%; background:rgba(0,0,0,0.7); padding:30px 0px; height:auto;}
.ios9_tips p{ font-size:14px; font-weight:200; color:#fff; width:100%; text-align:center; line-height:28px;}
.ios9_tips img{ display:block;width:12px;height:12px;}
.ios9_tips .img1{ width:80%; height:auto; margin:20px 10% 0px;}
.ios9_tips .btn{ width:40%; height:auto; margin:20px 30% 0px;font-size: 13px;font-weight: 500;border: 0px solid #fff!important;}
.ios9_tips .p3{font-size:16px; margin:50px 0px 30px 0px;}
.ios9_tips .img2{ width:120px; height:120px; margin:10px auto;}
.ios9_tips .img3{ width:80%; height:auto; margin:20px 10% 0px;}
.ios9_tips .img4{ width:60%; height:auto; margin:20px 20% 0px;}
.go_desk{ margin-top:30px;}
.close_ios9{margin-right: 25px;position: absolute;top: 50px; right: 0px;}
.close_ios92{margin-right: 40px;position: absolute;top:43px; right: 0px;}
.ios9_tips_content{ padding-top:10px;}

.logo0622{ width:120px; height:130px; margin: 40px auto 0px;text-align: center;}
.logo0622 img{border-radius:22.5%;width:120px; height:120px; display:inline-block;}
.cy_app_name{ color:#000; margin-bottom:10px;text-align: center;}
.phone_show { margin-top:2rem;}
.phone_show p{ width:100%; text-align:center; line-height:1rem;color: #000;font-family: "Open Sans","Helvetica Neue",Helvetica,"Microsoft YaHei",sans-serif;font-size: 16px;font-weight: 300;letter-spacing: 1.2px;}
.load_fixed{ margin:2rem auto;}
.load_fixed a{color: #2c9fb7;cursor: pointer; font-size: 16px; display:block; width:100%;}
@media screen and (max-width:768px){.load_fixed a{ width:50%; margin-left:25%;}}
.load_fixed{ position:relative;}
.fixing .fa-circle-o-notch{ color:#fff; font-weight:100; width:100%; text-align:center; position:absolute; top:0px;}
.load_fixed .home_key{ position:absolute; top:0px; font-size:14px;}


.one-key-report-dialog {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    left: 50%;
    margin-left: -225px;
    margin-top: -275px;
    padding: 20px;
    position: fixed;
    top: 50%;
    width: 450px;
    z-index: 99999;
}
.one-key-report-dialog .dialog-close {
    position: absolute;
    right: 10px;
    top: 10px;
}
.one-key-report-dialog .dialog-close i.icon-close {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}
.one-key-report-dialog .dialog-close i.icon-close:hover {
    color: #333;
}
.one-key-report-dialog .dialog-close .icon-return {
    color: #32b2a7;
    display: none;
}
.one-key-report-dialog .custom-checkbox {
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    margin-right: 40px;
    padding: 2px 2px 2px 25px;
    position: relative;
    text-align: left;
}
.one-key-report-dialog .custom-checkbox:last-child {
    margin-right: 0;
}
.one-key-report-dialog .custom-checkbox::after, .one-key-report-dialog .custom-checkbox::before {
    content: " ";
    display: block;
    position: absolute;
}
.one-key-report-dialog .custom-checkbox::after {
    background-color: #1989fa;
    border-radius: 10px;
    display: none;
    height: 10px;
    left: 1px;
    top: 7px;
    width: 10px;
}
.one-key-report-dialog .custom-checkbox::before {
    background-color: #fff;
    border: 1px solid #1989fa;
    border-radius: 12px;
    height: 12px;
    left: 0;
    top: 6px;
    width: 12px;
}
.one-key-report-dialog .custom-checkbox.active::after {
    display: block;
}
.one-key-report-dialog .content-row {
    display: table;
    padding: 10px 10px 5px;
    position: relative;
    width: 100%;
}
.one-key-report-dialog .content-row input, .one-key-report-dialog .content-row label {
    display: inline-block;
    float: left;
}
.one-key-report-dialog .content-row label {
    font-size: 18px;
    line-height: 34px;
    margin-right: 30px;
}
.one-key-report-dialog .content-row input {
    border: 1px solid #a9b1b3;
    border-radius: 5px;
    height: 34px;
    outline: 0 none;
    padding: 5px 10px;
    width: 240px;
}
.one-key-report-dialog .content-row .checkbox-list {
    clear: both;
    padding: 5px 0;
    text-align: left;
    width: 100%;
}
.one-key-report-dialog .content-row textarea {
    border: 1px solid #a9b1b3;
    border-radius: 10px;
    color: #a9b1b3;
    font-size: 16px;
    height: 200px;
    outline: 0 none;
    padding: 10px;
    resize: none;
    width: 100%;
}
.one-key-report-dialog .content-row .btn-report {
    background-color: #32b2a7;
    border-radius: 15px;
    color: #fff;
    float: right;
    margin-top: -5px;
    padding: 5px 10px;
}
.one-key-report-dialog .report-feedback, .one-key-report-dialog .report-form {
    height: 100%;
    position: relative;
    width: 100%;
}
.one-key-report-dialog .report-sending {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    cursor: default;
    display: none;
    font-size: 20px;
    height: 100%;
    left: 0;
    line-height: 450px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}
.one-key-report-dialog .report-form {
    display: block;
}
.one-key-report-dialog .report-feedback {
    cursor: default;
    display: none;
}
.one-key-report-dialog .report-feedback .feedback-thanks {
    background-color: #efefef;
    border-radius: 20px;
    height: 160px;
    margin: 50px auto 20px;
    width: 160px;
}
.one-key-report-dialog .report-feedback .feedback-thanks .brace-content {
    color: #000;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    width: 110px;
}
.one-key-report-dialog .report-feedback .feedback-thanks .thanks {
    color: #000;
    cursor: default;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,"Hiragino Sans GB",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin: 15px 0 0;
    min-height: 22px;
    text-align: center;
}
.one-key-report-dialog .report-feedback .feedback-thanks .face, .one-key-report-dialog .report-feedback .feedback-thanks .icon-brace-left, .one-key-report-dialog .report-feedback .feedback-thanks .icon-brace-right {
    display: inline-block;
    vertical-align: middle;
}
.one-key-report-dialog .report-feedback .feedback-thanks .icon-brace-left, .one-key-report-dialog .report-feedback .feedback-thanks .icon-brace-right {
    font-size: 80px;
}
.one-key-report-dialog .report-feedback .feedback-thanks .face .icon-comma-eye {
    font-size: 22px;
    margin: 0 4px;
}
.one-key-report-dialog .report-feedback .feedback-thanks .face .icon-comma-eye.right {
    display: inline-block;
    margin-left: 16px;
    transform: scaleY(0.5);
}
.one-key-report-dialog .report-feedback .feedback-thanks .face .icon-mouth {
    display: block;
    margin-top: 15px;
    transform: rotateZ(-19deg) translateX(2px);
}
.one-key-report-dialog .report-feedback .feedback-message {
    color: #1989fa;
    font-size: 30px;
    text-align: center;
}
.one-key-report-dialog .report-feedback .feedback-content {
    color: #858585;
    font-size: 18px;
    margin-top: 40px;
}
.one-key-report-dialog .report-error {
    color: red;
    cursor: default;
    line-height: 34px;
    padding: 0 10px;
}
.one-key-report-dialog .report-error > div {
    display: none;
}

#codeico {
    background-color: #efefef;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 77px;
    position: absolute;
    z-index: 999;
}